# this workflow should build+register all functions with a matrix

# buildarg: FUNCTION=some-func
# # now deploy each function
# helm-deploy

name: Review

on:
  push:
    branches-ignore:
      - master
    tags-ignore:
      - v*

concurrency:
  cancel-in-progress: true
  group: review-${{ github.ref }}

jobs:
  init:
    runs-on: ubuntu-latest
    name: Prepare
    outputs:
      functions: ${{ steps.init.outputs.functions }}
    steps:
      - uses: actions/checkout@v2
      - id: init
        shell: bash
        run: |
          FUNCTIONS=$( ls -l functions  | awk '/^d/ {print $9}' | jq --slurp --raw-input 'split("\n")[:-1]' )
          echo $FUNCTIONS
          FUNCTIONS="${FUNCTIONS//'%'/'%25'}"
          FUNCTIONS="${FUNCTIONS//$'\n'/'%0A'}"
          FUNCTIONS="${FUNCTIONS//$'\r'/'%0D'}"
          echo "::set-output name=functions::$FUNCTIONS"

  ##############################################################################
  ## BUILD AND REGISTER DOCKER IMAGES
  ##############################################################################
  register:
    name: Build & Register functions
    runs-on: ubuntu-latest
    needs: init
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        functions: ${{ fromJson(needs.init.outputs.functions) }}
    steps:
      - uses: actions/checkout@v2
      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: "dev"
          project: sre-faas
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: sre-faas/${{ matrix.functions }}
          buildargs: |
            FUNCTION=${{ matrix.functions }}

      - name: Use autodevops deployment
        uses: SocialGouv/actions/autodevops-helm-deploy@v1
        with:
          environment: "dev"
          token: ${{ secrets.GITHUB_TOKEN }}
          kubeconfig: ${{ secrets.KUBECONFIG }}
          rancherId: ${{ secrets.RANCHER_PROJECT_ID }}
          socialgouvBaseDomain: ${{ secrets.SOCIALGOUV_BASE_DOMAIN }}
          imageName: sre-faas/${{ matrix.functions }}
          baseNamespace: sre-faas-${{ matrix.functions }}
          baseSubdomain: sre-faas-${{ matrix.functions }}
          basePath: functions/${{ matrix.functions }}
